html body {
    background-color: #111d29 !important;
}

html body a {
    color: #b1d237 !important;
}

html body .gb_oa {
    background-color: #111d29 !important;
}

#SIvCob {
    color: #fff !important;
}

#SIvCob a {
    color: #b1d237 !important;
}

.sfbg {
    background-color: #111d29 !important;
}

.yg51vc {
    background-color: #111d29 !important;
}

.appbar {
    background-color: #111d29 !important;
}

.jbmlle {
    background-color: #111d29 !important;
}

.w18VHb {
    color: #b1d237 !important;
}

.fc9yUc {
    color: #b1d237 !important;
}